<div class="author">
  <h1 class="author_heading">I'm dyscope</h1>
  <p class="author__body">Software Engineer</p>
</div>

<img src="/img/hero-image.webp" alt="img" class="hero-image" width="980" height="528">

<section class="articles">
  <h2 class="articles__heading">Latest Posts</h2>

  <ul class="article-list">
    <li>
      <a href="/">
        <span>Post title</span>
        <span class="article-list__date">Date</span>
      </a>
    </li>
  </ul>

  <a href="#" class="pagination">&lt; View Older Posts</a>

</section>